#p1{
    font-style: italic;
    font-size: small;
}
#p2{
    font-style: italic;
    font-size: large;
}
#p3{
    font-style: italic;
    font-family:'Lucida Sans';
}
#p4{
    font-size: large;
}
#p5{
    font-style: italic;
}