div.wrapper {
    float: right;
}

div.grid {
    color: white;
    background: red;
    padding: 5px;    
}

#moveMe {
    /*El elemento se mantiene en su posición*/
    position: relative;
    /*Movemos el elemento 5px abajo y 5px a la izquierda*/
    *top: 5px;
    *right: 5px;
    /*Movemos el elemento 10px abajo y 10px a la derecha*/
    *top: 10px;
    *left: 10px;
    /*El resto de elementos no cambian su posición ya que este 
    elemento tiene una posición relativa y no afecta al resto*/
    bottom: 10px;
    left: 10px;
    background:blue;
}