body{
    display:grid;
    grid-template-columns: 200px 2fr;
    grid-template-rows: 115px 1fr 1fr;
    grid-template-areas:"h h"
                        "n s"
                        "f f";
    row-gap: 25px;
    column-gap: 25px;
}
header{
    grid-area: h;
    text-align: center;
    background-color: violet;
    border-radius: 10px;
    height: 100%;
}
nav{
    grid-area: n;
    background-color: rgb(255, 90, 255);
    height: max-content;
    width: 100%;
    border-radius: 10px;
}
ul{
    list-style-type: none;
    padding-left:10px;
}
select{
    display: none;
}
section{
    display: grid;
    grid-template-columns: 420px 420px 420px;
    grid-template-rows: 1fr;
    grid-template-areas: "s1 s2 s3";
    column-gap: 15px;
}
article{
    background-color:salmon;
    border-radius:10px;
    height: max-content;
    padding: 10px;
    color:white;
}
footer{
    grid-area: f;
    background-color: rgb(114,114,221);
    border-radius: 10px;
    height: max-content;
}
footer p{
    padding-left: 10px
}
@media (max-width: 1366px){
    section{
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 180px 1fr;
        grid-template-areas: "s1 s2"
                             ". s3";
        column-gap: 15px;
    }
    article:nth-child(3){
        margin-top: 40px;
        grid-area: s3;
    }
}
@media (max-width: 936px){
    section{
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 330px 200px 330px;
        grid-template-areas: "s1"
                             "s2"
                             "s3";
        row-gap:25px;
    }
    article:nth-child(1){
        grid-area:s1;
    }
    article:nth-child(2){
        margin-top:0;
        grid-area:s2;
    }
    article:nth-child(3){
        margin-top: 0;
        grid-area:s3;
    }
}
@media (max-width: 600px){
    body{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90px 30px 330px 200px 330px 400px;
        grid-template-areas:"h"
                            "n"
                            "s"
                            "s"
                            "s3"
                            "f";
        row-gap:10px;
    }
    header{
        grid-area:h;
        text-align:start;
    }
    h1{
        margin:0;
    }
    h2{
        width: max-content;
    }
    nav{
        grid-area:n;
        padding: 1px;
        border-radius:5px;
    }
    ul{
        display:none;
    }
    select{
        display:block;
    }
    section{
        display:block;
    }
    article{
        width:100%;
    }
    article:nth-child(1){
        grid-area:s1;
    }
    article:nth-child(2){
        grid-area:s2;
    }
    article:nth-child(3){
        grid-area:s3;
    }
}
@media (min-width: 480px){

}