header{
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    align-content: center;
}
h1{
    display:flex;
    justify-content: center;
    width: 100%;
}
input[type="button"], select{
    background-color: mistyrose;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
input[type="button"]:hover, select:hover{
    background-color: mintcream;
}
ul {
    list-style-type: none;
    padding: 0; 
    margin-left: 10px;
}
ul li {
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 6px;
}
li:nth-last-child(even){
    background-color: lightblue;
}
li:nth-last-child(odd){
    background-color: lightcyan;
}
li:hover{
    background-color: lightskyblue;
}
body{
    background-color: lightslategrey;
}
header{
    background-color: mistyrose;
    padding-bottom: 15px;
    margin: 7px;
}
img{
    margin-right:35px;
}
