#titulo{
    color:teal;
}
strong, a, th{
    color:red;
}
.destacado, .especial, td strong{
    color:orange;
}
#subtitulo, em, caption{
    color:blue;
}
td, #adicional a, td em{
    color:green;
}
#adicional *{
    color:olive;
}
#especial{
    color:fuchsia;
}
table, th , td{
    border: 1px solid black;
    border-collapse: collapse;
}
p .especial{
    color:purple;
}