header{
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    align-content: center;
    border-radius:10px;
}
h1{
    display:flex;
    justify-content: center;
    width: 100%;
}
.ocultar{
    display: none;
}
input[type="button"], select{

    border: none;
    border-radius: 10px;
    padding: 10px;
}
ul {
    list-style-type: none;
    padding: 0; 
    margin-left: 10px;
}
ul li {
    margin-top: -1px; 
    padding: 6px;
}

header{
    padding-bottom: 15px;
    margin: 7px;
}
img{
    margin-right:35px;
}
