*{
    font-family: sans-serif;
}
/*Inicio*/
#login{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border:2px solid black;
    border-radius: 10px;
    background-color: lightgray;
    padding: 0 5px 0 10px;
}
#usuario{
    margin-bottom: 5px;
}
#clave{
    margin-bottom: 5px;
}
input[type=submit]{
    margin-top:30px;
    margin-left: 100px;
}
/*Tablas de contenido*/
table{
    border-collapse: collapse;
    padding: 6px;
    text-align: center;
    width: 100%;
}
th{
    background-color: aqua;
}
tbody>tr:first-of-type{
    background-color: lightgoldenrodyellow;
}
tr{
    background-color: lightgray;
}
th, th{
    padding:6px;
}
ul{
    list-style-type:none;
    padding:0;
    margin:0;
}
#contenedorContenido{
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    justify-self: center;
}
#contenedorCarrito{
    max-width: 30%;
    padding: 5px;
    margin-top:5px;
    background-color: lightcoral;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}
#carrito p{
    padding: 3px;
}